@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  max-width: 1600px;
  margin: 0 auto;
}
header {
  background-color: #fff8f3;
  background: url(./assets/images/developer.png),
    url(./assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 23px 38px, 630px 321px;
}


nav {
  width: 71%;
  max-width: 1166px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
}
ul li {
  list-style: none;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: #474747;
  font-weight: 400;
}
ul {
  display: flex;
  gap: 51px;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
span {
  color: #fd6e0a;
}
.btn {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 18px 36px;
  background-color: #fd6e0a;
  border-radius: 6px;
  border: 1.5px solid transparent;
  &:hover {
    background-color: white;
    color: #fd6e0a;
    border: 1.5px solid #fd6e0a;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
  }
}

#banner {
  display: flex;
  max-width: 1166px;
  margin: 0 auto;
}
#banner h2 {
  margin-top: 185px;
  font-size: 45px;
  font-weight: 400;
  color: #474747;
}
.banner_content {
  margin-left: 100px;
}
.banner_content h1 {
  margin-top: 5px;
  font-size: 65px;
  font-weight: 700;
  color: #0d0d0d;
}
.banner_content p {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
}
.btn_1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 18px 36px;
  background-color: #fd6e0a;
  border-radius: 6px;
  border: 1.5px solid transparent;
  position: relative;
  margin-right: 30px;
  &:hover {
    background-color: white;
    color: #fd6e0a;
    border: 1.5px solid #fd6e0a;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
  }
}
.btn_2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 19px 36px;
  background-color: #fd6e0a;
  border-radius: 6px;
  border: 1.5px solid transparent;
  &:hover {
    background-color: white;
    color: #fd6e0a;
    border: 1.5px solid #fd6e0a;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
  }
}
.btn_3 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 18px 39px;
  background-color: #fd6e0a;
  border-radius: 6px;
  border: 1.5px solid transparent;
  margin-bottom: 110px;
  &:hover {
    background-color: white;
    color: #fd6e0a;
    border: 1.5px solid #fd6e0a;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
  }
}
.btn_4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 18px 39px;
  background-color: #fd6e0a;
  border-radius: 6px;
  border: 1.5px solid transparent;
  margin-bottom: 110px;
  margin-left: 693px;
  &:hover {
    background-color: white;
    color: #fd6e0a;
    border: 1.5px solid #fd6e0a;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
  }
}

#about {
  padding-top: 130px;
}
#about .about_container {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.about_container h3 {
  font-size: 36px;
  font-weight: 700;
  color: #181818;
  padding-bottom: 30px;
}
.about_container p {
  font-size: 18px;
  font-weight: 400;
  max-width: 827px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #757575;
}
.about_info {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.about_info h4 {
  font-size: 20px;
  font-weight: 500;
  color: #757575;
}
.about_info p {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}
/* .about_info {
  width: 71%;
  max-width: 1140px;
} */
#service,
#resume {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  text-align: center;
}
.service_info h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  padding-bottom: 30px;
}
.service_info p {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  padding-bottom: 50px;
}
.card_info {
  min-width: 250px;
  text-align: left;
  display: flex;
  gap: 24px;
  align-items: center;
  
  
}
.service_card {
  padding: 30px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.service_card img {
  padding-bottom: 30px;
}
.service_card h4 {
  padding-bottom: 20px;
}
#resume h5 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  padding-bottom: 113px;
}
.resume_container {
  display: flex;
  text-align: left;
  gap: 70px;
}
.title_1 {
  font-size: 30px;
  padding-bottom: 30px;
  color: #474747;
}
.title_2 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #474747;
}
.para_1 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #757575;
  font-weight: 500;
}
.para_2 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #757575;
  font-weight: 400;
}
#resume hr {
  margin-bottom: 30px;
}
.invis {
  height: 50px;
}
footer {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff8f3;
}
.footer_container {
  display: flex;
  gap: 120px;
}
.left_foot,
.right_foot {
  padding-top: 130px;
}
.left_foot {
  max-width: 39%;
  margin-left: 150px;
}
.right_foot {
  max-width: 41%;
  display: grid;
  margin-right: 150px;
}
.left_foot h2,
.right_foot h2 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #181818;
}
.left_foot p {
  font-size: 16px;
  font-weight: 400;
  color: #474747;
  padding-bottom: 30px;
}
.left_foot img {
  padding-right: 10px;
}
.right_foot input {
  margin-bottom: 24px;
  font-size: 16px;
  padding: 18px 350px 18px 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.right_foot .input_message {
  padding-bottom: 130px;
}